.selectBox {
    margin-left: 5%;
    margin-right: 5%;
}
.searchInput {
    width: 250px;
}
.result {
    margin: 2%;
}
.company {
    margin: 2%;
    display: inline-block;

}
.infoLabel {
    font-weight: bold;
}
